fastapi
uvicorn[standard]
sqlalchemy
aioredis
pydantic-settings
python-dotenv
celery
redis
httpx
psycopg2-binary
aiosqlite
greenlet
asyncpg
python-nmap
google-generativeai
reportlab
requests
python-gvm